* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Koh Santepheap", serif;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: rgb(208, 227, 245);
}

ul,
ol {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
